// Colors
$primaryColor: #333333;
$secondaryColor: #76787D;
$grayColor: #E9ECEF;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$redColor: #E31F24;

// Backgrounds
$mainBackground: #F8F9FA;
$primaryBackground: $primaryColor;
$secondaryBackground: $whiteColor;

$shadowColor: #FDFDFD;
$shadowDarkColor: #E0E0E0;
